{% extends "base.html" %}

{% block content %}
    <div>{{ object.title }}</div><br>
    <div>{{ object.body }}</div><br>
    <div>{{ object.description }}</div><br>

    {% if request.user == snippet.snippet_of %}
        <p>
            <a href="{% url 'edit_snippet' snippet.pk %}">Edit</a>
            <a href="{% url 'delete_snippet' snippet.pk %}">Delete</a>
        </p>
    {% else %}
        <p>
            <a href="{% url 'copy_snippet' snippet.pk %}">Copy Snippet</a>
        </p>
    {% endif %}
{% endblock %}

